
div {
  text-align: center;
}
body {
  background-image: url("../img/bg.gif");
  background-repeat: repeat;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgleft {
    float:left;
    margin: 0rem 1rem 1rem 0rem;
}

img {
  width: 100%;
  height: auto;
}

.imgright {
    float:right;
    margin: 1rem 0rem 1rem 1rem;
}

.responsive {
  width: auto;
  max-width: 400px;
  height: auto;
}


h1{
  font-size:auto;
    margin: 0;
    color: #ffffff;
    
    text-shadow: 0px 4px 10px rgba(53, 52, 51, 0.8);
}

h2 {
    margin:1rem;
    color: #ffffff;

    text-shadow: 0px 11px 10px rgba(53, 52, 51, 0.8);
}

em {
letter-spacing: 2px;
}

figure {
    padding:0;
    margin:0 auto;
}

figcaption {
    font-size:small;
}


nav li{
    width: 12rem;
  
    text-align: center;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-bottom: 2px solid rgb(255, 255, 255);
}

nav ul {
    padding: 0px;
    margin: 0px
  }
  
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display:block;
    padding: 0.05rem;
  }

nav a:visited {
  color: rgb(255, 255, 255);
  }

 nav a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }

.charlist li {
    display: block;
    width:12rem;
    margin:0 auto;
    list-style-type: none;
  }

.charlist ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 200px;
    font-size: 1rem;
    background-color: #f1f1f1;
  }
  
.charlist li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
.charlist li a:hover {
    background-color: #555;
    color: white;
  }

blockquote {
    background-color: black;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border:#CB3C13 2px solid;
    width:300px;
    text-align: center;
}

cite {
    padding: 1.5rem;
}

body::-webkit-scrollbar {
    width: 1rem;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px white;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: white;
  }

  .bn1 {
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: auto;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
  }
  
  .bn1:hover {
    color: #ffffff;
    background-color: #000000;
    border: 0.1em solid #ffffff;
  }

 
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #f1f1f1;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  .div2 {
    background-color: white;
    width: 75%;
    margin:0 auto;
    border-radius: 10px;
    text-align: center;
  }